/*

    Name:       Base16 Tomorrow Dark
    Author:     Chris Kempson (http://chriskempson.com)

    CodeMirror template by Jan T. Sott (https://github.com/idleberg/base16-codemirror)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

.cm-s-base16-tomorrow-dark.CodeMirror {background: #1d1f21; color: #e0e0e0;}
.cm-s-base16-tomorrow-dark div.CodeMirror-selected {background: #282a2e !important;}
.cm-s-base16-tomorrow-dark .CodeMirror-gutters {background: #1d1f21; border-right: 0px;}
.cm-s-base16-tomorrow-dark .CodeMirror-linenumber {color: #969896;}
.cm-s-base16-tomorrow-dark .CodeMirror-cursor {border-left: 1px solid #b4b7b4 !important;}

.cm-s-base16-tomorrow-dark span.cm-comment {color: #a3685a;}
.cm-s-base16-tomorrow-dark span.cm-atom {color: #b294bb;}
.cm-s-base16-tomorrow-dark span.cm-number {color: #b294bb;}

.cm-s-base16-tomorrow-dark span.cm-property, .cm-s-base16-tomorrow-dark span.cm-attribute {color: #b5bd68;}
.cm-s-base16-tomorrow-dark span.cm-keyword {color: #cc6666;}
.cm-s-base16-tomorrow-dark span.cm-string {color: #f0c674;}

.cm-s-base16-tomorrow-dark span.cm-variable {color: #b5bd68;}
.cm-s-base16-tomorrow-dark span.cm-variable-2 {color: #81a2be;}
.cm-s-base16-tomorrow-dark span.cm-def {color: #de935f;}
.cm-s-base16-tomorrow-dark span.cm-error {background: #cc6666; color: #b4b7b4;}
.cm-s-base16-tomorrow-dark span.cm-bracket {color: #e0e0e0;}
.cm-s-base16-tomorrow-dark span.cm-tag {color: #cc6666;}
.cm-s-base16-tomorrow-dark span.cm-link {color: #b294bb;}

.cm-s-base16-tomorrow-dark .CodeMirror-matchingbracket { text-decoration: underline; color: white !important;}
