/*

    Name:       Base16 Green Screen Dark
    Author:     Chris Kempson (http://chriskempson.com)

    CodeMirror template by Jan T. Sott (https://github.com/idleberg/base16-chrome-devtools)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

.cm-s-greenscreen-dark.CodeMirror {background: #001100; color: #00dd00;}
.cm-s-greenscreen-dark div.CodeMirror-selected {background: #003300 !important;}
.cm-s-greenscreen-dark .CodeMirror-gutters {background: #001100; border-right: 0px;}
.cm-s-greenscreen-dark .CodeMirror-linenumber {color: #007700;}
.cm-s-greenscreen-dark .CodeMirror-cursor {border-left: 1px solid #009900 !important;}

.cm-s-greenscreen-dark span.cm-comment {color: #005500;}
.cm-s-greenscreen-dark span.cm-atom {color: #00bb00;}
.cm-s-greenscreen-dark span.cm-number {color: #00bb00;}

.cm-s-greenscreen-dark span.cm-property, .cm-s-greenscreen-dark span.cm-attribute {color: #00bb00;}
.cm-s-greenscreen-dark span.cm-keyword {color: #007700;}
.cm-s-greenscreen-dark span.cm-string {color: #007700;}

.cm-s-greenscreen-dark span.cm-variable {color: #00bb00;}
.cm-s-greenscreen-dark span.cm-variable-2 {color: #009900;}
.cm-s-greenscreen-dark span.cm-def {color: #009900;}
.cm-s-greenscreen-dark span.cm-error {background: #007700; color: #009900;}
.cm-s-greenscreen-dark span.cm-bracket {color: #00dd00;}
.cm-s-greenscreen-dark span.cm-tag {color: #007700;}
.cm-s-greenscreen-dark span.cm-link {color: #00bb00;}

.cm-s-greenscreen-dark .CodeMirror-matchingbracket { text-decoration: underline; color: white !important;}
