/*

    Name:       Base16 Chalk Dark
    Author:     Chris Kempson (http://chriskempson.com)

    CodeMirror template by Jan T. Sott (https://github.com/idleberg/base16-chrome-devtools)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

.cm-s-base16-chalk-dark.CodeMirror {background: #151515; color: #e0e0e0;}
.cm-s-base16-chalk-dark div.CodeMirror-selected {background: #202020 !important;}
.cm-s-base16-chalk-dark .CodeMirror-gutters {background: #151515; border-right: 0px;}
.cm-s-base16-chalk-dark .CodeMirror-linenumber {color: #505050;}
.cm-s-base16-chalk-dark .CodeMirror-cursor {border-left: 1px solid #b0b0b0 !important;}

.cm-s-base16-chalk-dark span.cm-comment {color: #deaf8f;}
.cm-s-base16-chalk-dark span.cm-atom {color: #e1a3ee;}
.cm-s-base16-chalk-dark span.cm-number {color: #e1a3ee;}

.cm-s-base16-chalk-dark span.cm-property, .cm-s-base16-chalk-dark span.cm-attribute {color: #acc267;}
.cm-s-base16-chalk-dark span.cm-keyword {color: #fb9fb1;}
.cm-s-base16-chalk-dark span.cm-string {color: #ddb26f;}

.cm-s-base16-chalk-dark span.cm-variable {color: #acc267;}
.cm-s-base16-chalk-dark span.cm-variable-2 {color: #6fc2ef;}
.cm-s-base16-chalk-dark span.cm-def {color: #eda987;}
.cm-s-base16-chalk-dark span.cm-error {background: #fb9fb1; color: #b0b0b0;}
.cm-s-base16-chalk-dark span.cm-bracket {color: #e0e0e0;}
.cm-s-base16-chalk-dark span.cm-tag {color: #fb9fb1;}
.cm-s-base16-chalk-dark span.cm-link {color: #e1a3ee;}

.cm-s-base16-chalk-dark .CodeMirror-matchingbracket { text-decoration: underline; color: white !important;}
