/*

    Name:       Base16 Monokai Dark
    Author:     Wimer Hazenberg (http://www.monokai.nl)

    CodeMirror template by Jan T. Sott (https://github.com/idleberg/base16-chrome-devtools)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

.cm-s-monokai-dark.CodeMirror {background: #272822; color: #f5f4f1;}
.cm-s-monokai-dark div.CodeMirror-selected {background: #383830 !important;}
.cm-s-monokai-dark .CodeMirror-gutters {background: #272822; border-right: 0px;}
.cm-s-monokai-dark .CodeMirror-linenumber {color: #75715e;}
.cm-s-monokai-dark .CodeMirror-cursor {border-left: 1px solid #a59f85 !important;}

.cm-s-monokai-dark span.cm-comment {color: #cc6633;}
.cm-s-monokai-dark span.cm-atom {color: #ae81ff;}
.cm-s-monokai-dark span.cm-number {color: #ae81ff;}

.cm-s-monokai-dark span.cm-property, .cm-s-monokai-dark span.cm-attribute {color: #a6e22e;}
.cm-s-monokai-dark span.cm-keyword {color: #f92672;}
.cm-s-monokai-dark span.cm-string {color: #f4bf75;}

.cm-s-monokai-dark span.cm-variable {color: #a6e22e;}
.cm-s-monokai-dark span.cm-variable-2 {color: #66d9ef;}
.cm-s-monokai-dark span.cm-def {color: #fd971f;}
.cm-s-monokai-dark span.cm-error {background: #f92672; color: #a59f85;}
.cm-s-monokai-dark span.cm-bracket {color: #f5f4f1;}
.cm-s-monokai-dark span.cm-tag {color: #f92672;}
.cm-s-monokai-dark span.cm-link {color: #ae81ff;}

.cm-s-monokai-dark .CodeMirror-matchingbracket { text-decoration: underline; color: white !important;}
