/*

    Name:       Base16 Monokai Light
    Author:     Wimer Hazenberg (http://www.monokai.nl)

    CodeMirror template by Jan T. Sott (https://github.com/idleberg/base16-codemirror)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

.cm-s-base16-monokai-light.CodeMirror {background: #f9f8f5; color: #383830;}
.cm-s-base16-monokai-light div.CodeMirror-selected {background: #f5f4f1 !important;}
.cm-s-base16-monokai-light .CodeMirror-gutters {background: #f9f8f5; border-right: 0px;}
.cm-s-base16-monokai-light .CodeMirror-linenumber {color: #a59f85;}
.cm-s-base16-monokai-light .CodeMirror-cursor {border-left: 1px solid #75715e !important;}

.cm-s-base16-monokai-light span.cm-comment {color: #cc6633;}
.cm-s-base16-monokai-light span.cm-atom {color: #ae81ff;}
.cm-s-base16-monokai-light span.cm-number {color: #ae81ff;}

.cm-s-base16-monokai-light span.cm-property, .cm-s-base16-monokai-light span.cm-attribute {color: #a6e22e;}
.cm-s-base16-monokai-light span.cm-keyword {color: #f92672;}
.cm-s-base16-monokai-light span.cm-string {color: #f4bf75;}

.cm-s-base16-monokai-light span.cm-variable {color: #a6e22e;}
.cm-s-base16-monokai-light span.cm-variable-2 {color: #66d9ef;}
.cm-s-base16-monokai-light span.cm-def {color: #fd971f;}
.cm-s-base16-monokai-light span.cm-error {background: #f92672; color: #75715e;}
.cm-s-base16-monokai-light span.cm-bracket {color: #383830;}
.cm-s-base16-monokai-light span.cm-tag {color: #f92672;}
.cm-s-base16-monokai-light span.cm-link {color: #ae81ff;}

.cm-s-base16-monokai-light .CodeMirror-matchingbracket { text-decoration: underline; color: white !important;}
