/*

    Name:       Base16 3024 Dark
    Author:     Jan T. Sott (http://github.com/idleberg)

    CodeMirror template by Jan T. Sott (https://github.com/idleberg/base16-chrome-devtools)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

.cm-s-base16-3024-dark.CodeMirror {background: #090300; color: #d6d5d4;}
.cm-s-base16-3024-dark div.CodeMirror-selected {background: #3a3432 !important;}
.cm-s-base16-3024-dark .CodeMirror-gutters {background: #090300; border-right: 0px;}
.cm-s-base16-3024-dark .CodeMirror-linenumber {color: #5c5855;}
.cm-s-base16-3024-dark .CodeMirror-cursor {border-left: 1px solid #807d7c !important;}

.cm-s-base16-3024-dark span.cm-comment {color: #cdab53;}
.cm-s-base16-3024-dark span.cm-atom {color: #a16a94;}
.cm-s-base16-3024-dark span.cm-number {color: #a16a94;}

.cm-s-base16-3024-dark span.cm-property, .cm-s-base16-3024-dark span.cm-attribute {color: #01a252;}
.cm-s-base16-3024-dark span.cm-keyword {color: #db2d20;}
.cm-s-base16-3024-dark span.cm-string {color: #fded02;}

.cm-s-base16-3024-dark span.cm-variable {color: #01a252;}
.cm-s-base16-3024-dark span.cm-variable-2 {color: #01a0e4;}
.cm-s-base16-3024-dark span.cm-def {color: #e8bbd0;}
.cm-s-base16-3024-dark span.cm-error {background: #db2d20; color: #807d7c;}
.cm-s-base16-3024-dark span.cm-bracket {color: #d6d5d4;}
.cm-s-base16-3024-dark span.cm-tag {color: #db2d20;}
.cm-s-base16-3024-dark span.cm-link {color: #a16a94;}

.cm-s-base16-3024-dark .CodeMirror-matchingbracket { text-decoration: underline; color: white !important;}
