/*

    Name:       Base16 Solarized Dark
    Author:     Ethan Schoonover (http://ethanschoonover.com/solarized)

    CodeMirror template by Jan T. Sott (https://github.com/idleberg/base16-codemirror)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

.cm-s-base16-solarized-dark.CodeMirror {background: #002b36; color: #eee8d5;}
.cm-s-base16-solarized-dark div.CodeMirror-selected {background: #073642 !important;}
.cm-s-base16-solarized-dark .CodeMirror-gutters {background: #002b36; border-right: 0px;}
.cm-s-base16-solarized-dark .CodeMirror-linenumber {color: #657b83;}
.cm-s-base16-solarized-dark .CodeMirror-cursor {border-left: 1px solid #839496 !important;}

.cm-s-base16-solarized-dark span.cm-comment {color: #d33682;}
.cm-s-base16-solarized-dark span.cm-atom {color: #6c71c4;}
.cm-s-base16-solarized-dark span.cm-number {color: #6c71c4;}

.cm-s-base16-solarized-dark span.cm-property, .cm-s-base16-solarized-dark span.cm-attribute {color: #859900;}
.cm-s-base16-solarized-dark span.cm-keyword {color: #dc322f;}
.cm-s-base16-solarized-dark span.cm-string {color: #b58900;}

.cm-s-base16-solarized-dark span.cm-variable {color: #859900;}
.cm-s-base16-solarized-dark span.cm-variable-2 {color: #268bd2;}
.cm-s-base16-solarized-dark span.cm-def {color: #cb4b16;}
.cm-s-base16-solarized-dark span.cm-error {background: #dc322f; color: #839496;}
.cm-s-base16-solarized-dark span.cm-bracket {color: #eee8d5;}
.cm-s-base16-solarized-dark span.cm-tag {color: #dc322f;}
.cm-s-base16-solarized-dark span.cm-link {color: #6c71c4;}

.cm-s-base16-solarized-dark .CodeMirror-matchingbracket { text-decoration: underline; color: white !important;}
